.error {


  color: #FF0000;


}


body {
	font-size: 14px;
	font-family: sans-serif;
	text-align: center;
	margin: auto;
}

.principal {
	margin: 0 auto;
	width: 650px;
	border: 1px dashed rgb(255,84,84);
	padding: 10px;
	background-color: white;
	text-align: center;
}

form	{
	width: 80%;
	
	padding: inherit;


}

input {
	border-radius: 1em;
	height: 30px;
}