
* {
  margin: 0;
  padding: 0;
}
 
body {
  background: #333;
}

header {
	margin: 0 ;
	padding: 0;
	height: 150px;
	background-color: #fff;
}

h1 {

	padding: 50px;
	text-align: center;
	color: #333;

}
 
div {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}
 
ul {
  list-style-type: none;
}
 
li img {
  float: left;

  margin: 10px;
  border: 5px solid #fff;
 
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
 
li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}


 button .clear {

	width: 60px;
}


.venta {

	width: 600px;
	font-size: 24px;
	font-family: Arial;
	border: 1px solid #fff;

}

.venta td {





}

.totall {
	color:#fff;
	width: 200px;
	border: 1px solid #fff;
	margin: 0;
	float: left;
	font-size: 24px;
	font-family: Arial;
}