body {
	margin: 0;
	padding: 0;
	background: url(Back.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.login-box{
	width: 320px;
	height: 420px;
	background:rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;

}

.mono{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1 {
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box p {
	margin: 0;
	padding: 0;
	font-weight: bold;

}

.login-box input {
	width: 100%;
	margin-bottom: 10px;
}

.login-box input[type="text"] , input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;


}


.login-box input[type="button"]{
	border: none;
	outline: none;
	height: 40px;
	background:#FF8000;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.login-box input[type="button"]:hover {
	cursor: pointer;
	background: #00BFFF;
	color: #000
}

.login-box a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;

}

.login-box a:hover {
	color :#00BFFF;
}