@charset "utf-8";
/* CSS Document */
h1{text-align:center;
}

.subtitulo{
	font-size:12px;
}

body{
	background-color:#efefef;
}

table td{
	text-align:center;
	border:1px #000099 dotted;

}

.actualiza {
	width: 25%;
	border: 0;


}

table .sin{
	border:0;
}


table .bot2{
	padding-bottom: 1px;
	
}
table .bot .bot2{

	padding:0 5px;
	display:inline;
	border:0;
	padding-left: 20px;
	padding-bottom: 20px;
}

table .primera_fila{
	font-size:1.5em;
	text-decoration:underline;
	background-color:rgb(255,84,84);
}

.centrado{
	text-align:center;
}

