
header {
background-image: url("Material.jpg");
	color : #333;

}

article {

	
	background-color: #A6D8DE;
	
}

aside {

background-color: #DDDAD6;

}

#color1 {
	
	
	background-color: #F9F1B5;
}

#color2 {
	background-color: #FFFFFF;
}

footer {
	
	background-image: url("Material.jpg");
}

img {
	z-index: -1;

}

body {
	background-color: #FFFFFF;
}